@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Alumnos:</h4>
<ul>
    <li><p> Castro, Emanuel Augusto</p></li>
    <li><p> Lami, Carlos Jacobo</p></li>
    <li><p> Martinez, Daniel Fernando</p></li>
</ul>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">carloslami14@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">danykapoc@gmail.com</a><br />
</address>