@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron">
    <div class="text-center">
        <h1>Gestor de Proyecto</h1>
    </div>
    <p>
        Esta es una pagina web que permite organizar las actividades de diferentes proyectos manera sencilla,
        asi como realizar segimientos y estimaciones de costos de cualquier tipo de proyecto.
    </p>
    <p>
        Esto permitira trabajar de forma remota y colaborativa, con una mayor comunicacion en el avance o progreso del
        proyecto.
    </p>
</div>
